.header {
  background-image: url("https://cdn.cliqueinc.com/posts/298975/designer-dresses-for-women-298975-1648835599732-promo.700x0c.jpg") !important;
  background-size: cover;
  background-position: center center;
  height: 30vh;
}